@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";
@plugin 'daisyui';

@font-face {
  font-family: "AvenirNextHeavy";
  src: url("/fonts/AvenirNext/AvenirNextCyr-Heavy.woff2") format("woff2"), url("/fonts/AvenirNext/AvenirNextCyr-Heavy.woff") format("woff"),
    url("/fonts/AvenirNext/AvenirNextCyr-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextBold";
  src: url("/fonts/AvenirNext/AvenirNextCyr-Bold.woff2") format("woff2"), url("/fonts/AvenirNext/AvenirNextCyr-Bold.woff") format("woff"),
    url("/fonts/AvenirNext/AvenirNextCyr-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {
  /* spacing */
  --spacing-horizontal-xs: 8px;
  --spacing-horizontal: 16px;
  --spacing-horizontal-m: 20px;
  --spacing-horizontal-l: 24px;
  --spacing-horizontal-xl: 32px;
  --spacing-horizontal-2xl: 48px;
  --spacing-vertical-xs: 4px;
  --spacing-vertical: 8px;
  --spacing-vertical-m: 12px;
  --spacing-vertical-l: 16px;
  --spacing-vertical-xl: 24px;
  --spacing-vertical-2xl: 32px;
  --spacing-large: 24px;
  --spacing-component-token: 12px;

  /* margin sektioner */
  --margin-v-sektioner-xsmall: 50px;
  --margin-v-sektioner-small: 90px;
  --margin-v-sektioner-large: 100px;
  --margin-h-sektioner-small: 20px;
  --margin-h-sektioner-medium: 70px;
  --margin-h-sektioner-large: 50px;
  --margin-h-sektioner-xlarge: 200px;
  --gap-h-large: 60px;

  /* radius */
  --radius-xs: 4px;
  --radius-s: 6px;
  --radius-m: 8px;
  --radius-l: 12px;
  --radius-xl: 16px;
  --radius-full: 9999px;

  /* Form variables */
  --border-size: 3px;
  --padding-2xlarge: 60px;
  --padding-xlarge: 40px;
  --padding-large: 30px;
  --padding-small: 25px;
  --gap-h-large: 24px;
  --gap-h-small: 12px;
  --gap-v: 12px;
}

@theme {
  /* typografi */
  --font-heading-heavy: "AvenirNextHeavy", sans-serif;
  --font-heading-bold: "AvenirNextBold", sans-serif;
}

@plugin "daisyui/theme" {
  name: "abortkampen";
  default: false;
  prefersdark: false;
  color-scheme: "abortkampen";
  /* Hvid farve */
  --color-base-100: oklch(100% 0 0);

  /* Lyse grå */
  --color-base-200: oklch(98% 0 0);

  /* Mørke grå */
  --color-base-300: oklch(95% 0 0);

  /* Sort farve */
  --color-base-content: oklch(21% 0.006 285.885);

  /* Gul farve + sort skrift */
  --color-primary: #ffde02;
  --color-primary-content: #241e21;

  /* Pink farve + hvid skrift */
  --color-secondary: #f73288;
  --color-secondary-content: #fcfcfc;

  /* Lyserød farve + mørk skrift */
  --color-accent: #ffcfe7;
  --color-accent-content: oklch(38% 0.063 188.416);

  /* Sort farve + hvid skrift */
  --color-neutral: #241e21;
  --color-neutral-content: #fcfcfc;

  /* Lysegul farve + mørk skrift */
  --color-info: oklch(94% 0.129 101.54);
  --color-info-content: oklch(29% 0.066 243.157);

  /* Grøn farve + mørk skrift */
  --color-success: oklch(76% 0.136 163.223);
  --color-success-content: oklch(37% 0.077 168.94);

  /* Orange farve + mørk skrift */
  --color-warning: #ffb63a;
  --color-warning-content: oklch(41% 0.112 45.904);

  /* Rød farve + mørk skrift */
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);

  /* Tal variabler */
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.28125rem;
  --size-field: 0.21875rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 0;
}

@layer base {
}

@layer components {
  @keyframes slide {
    0%,
    20% {
      opacity: 1;
    }
    25%,
    95% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes dotActive {
    0%,
    20% {
      background-color: var(--color-primary);
      opacity: 1;
    }
    25%,
    95% {
      background-color: white;
      opacity: 0.5;
    }
    100% {
      background-color: var(--color-primary);
      opacity: 1;
    }
  }
}

@layer utilities {
}
