---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
---

<MainLayout title="Abortkampen.dk - Engager dig">
  <main class="container mx-auto p-4">
    <Heading htmlheading="h1">Lav noget flot!</Heading>

    <script
      src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.8.11/dist/dotlottie-wc.js"
      type="module"></script>
    <dotlottie-wc
      src="https://lottie.host/6efa096f-7b80-4ed3-aebf-736f9d72404a/n5k53iJHM8.lottie"
      style="width: 300px;height: 300px"
      autoplay
      loop></dotlottie-wc>
  </main>
</MainLayout>
