---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import LogoInformationBox from "../components/LogoInformationBox.astro";
import Quote from "../components/Quote.astro";
import Link from "../components/Link.astro";
import InformationBox from "../components/InformationBox.astro";
import Merchcardslider from "../components/merchcardslider.astro";
import Infostat from "../components/Infostat.astro";
---

<MainLayout title="Abortkampen.dk - Forside">
  <main
    class="my-[var(--margin-v-sektioner-xsmall)] md:my-[var(--margin-v-sektioner-large)]"
  >
    <div class="mt-100"></div>

    <!-- Infostats sektion -->
    <section
      class="flex flex-col gap-[var(--spacing-large)] md:flex-row md:justify-around
       max-w-6xl mx-auto
       px-[var(--margin-h-sektioner-small)]
       md:px-[var(--margin-h-sektioner-large)]"
    >
      <Infostat
        imgSrc="/img/Illustrations/tools.webp"
        alt="Bøjle, sæbe, stikkepind og salt"
      >
        <Heading htmlheading="h2" size="medium" weight="heavy" color="label">
          23.000
        </Heading>
        <Text teksttype="headline" weight="bold" color="body">
          Kvinder <span class="text-secondary">dør</span> hvert år pga. usikre abortmetoder
        </Text>
      </Infostat>

      <Infostat
        imgSrc="/img/Illustrations/women.webp"
        alt="Fem figur-ikoner, én udfyldt"
      >
        <Heading htmlheading="h2" size="medium" weight="heavy" color="body">
          1 <span class="text-secondary">UD AF 5</span>
        </Heading>
        <Text teksttype="headline" weight="bold" color="body">
          Kvinder i verden har <span class="text-secondary">ikke</span> adgang til
          sikker abort.
        </Text>
      </Infostat>
    </section>

    <!-- Derfor er fri abort en mærkesag -->
    <section
      class="my-[var(--margin-v-sektioner-xsmall)] md:my-[var(--margin-v-sektioner-large)]
       px-[var(--margin-h-sektioner-small)] md:px-[var(--margin-h-sektioner-xlarge)]"
    >
      <div
        class="flex flex-col xl:flex-row gap-[var(--spacing-horizontal-2xl)] items-center"
      >
        <div>
          <img
            src="/img/DemonstrationWoman.webp"
            alt="Kvinde til demonstration for fri abort"
            loading="lazy"
            class="w-full h-auto"
          />
        </div>

        <div class="flex flex-col gap-[var(--spacing-horizontal-2xl)]">
          <Heading
            htmlheading="h2"
            size="medium"
            weight="heavy"
            color="body"
            class="uppercase"
          >
            Derfor er fri abort en mærkesag
          </Heading>

          <ul class="space-y-3 md:space-y-4">
            <li class="flex gap-4 items-start">
              <span class="w-3 h-10 bg-primary rounded-full mt-1"></span>
              <Text teksttype="body" weight="regular">
                Fordi retten til at til- og fravælge reproduction er en af
                grundstenene i retten til kropslig selvbestemmelse.
              </Text>
            </li>
            <li class="flex gap-4">
              <span class="w-3 h-10 bg-primary rounded-full mt-1"></span>
              <Text teksttype="body" weight="regular">
                Fordi vores krop er det eneste, som aldrig kan tages fra os og
                som ingen andre skal have kontrol over.
              </Text>
            </li>
            <li class="flex gap-4">
              <span class="w-3 h-10 bg-primary rounded-full mt-1"></span>
              <Text teksttype="body" weight="regular">
                Fordi adgang og ret til familieplanlægning er fundamental for
                livsmuligheder for kvinder og piger i hele verden.
              </Text>
            </li>
            <li class="flex gap-4">
              <span class="w-3 h-10 bg-primary rounded-full mt-1"></span>
              <Text teksttype="body" weight="regular">
                Fordi kampen for at bestemme over eget liv og krop langt fra er
                vundet globalt.
              </Text>
            </li>
            <li class="flex gap-4">
              <span class="w-3 h-10 bg-primary rounded-full mt-1"></span>
              <Text teksttype="body" weight="regular">
                Derfor står vi værn om retten til fri abort - i anerkendelse af
                de sejre der er vundet og i solidaritet med de kampe der stadig
                kæmpes.
              </Text>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!-- Sex og samfund arbejder for sektion -->
    <LogoInformationBox
      title="Det arbejder Sex & Samfund for "
      text1="I Danmark har vi haft ret til sikker og lovlig abort siden 1973. Men det er ikke en ret, vi kan tage for givet. Udviklingen i lande som Polen og USA viser, at retten til sikker og lovlig abort er en ret, der skal værnes om. Selv i Danmark er der modstand mod kvinders ret til selv at vælge, om de vil have en abort eller ej."
      text2="Vi arbejder for alle piger og kvinders ret til at få en abort. I Danmark tilbyder vi gratis rådgivning, og internationalt kæmper vi sammen med lokale aktivister og organisationer."
      text3="Ingen skal bestemme, hvorvidt du, din søster eller veninde skal have et barn eller ej! Derfor kæmper vi i Sex & Samfund for retten til fri og sikker abort for alle. Forbud mod aborter fører ikke til færre aborter, men til farligere aborter!"
    />

    <!-- Kampen for fri abort sektion -->
    <InformationBox
      title="Kampen for fri abort slutter aldrig"
      subtitle="Din indsats gør en reel forskel!"
      text1="Hos Abortkampen.dk giver vi dig mulighed for at engagere dig aktivt i kampen for fri abort. Du kan gøre en forskel gennem deltagelse i demonstrationer, uddeling af informationsmateriale, oplysningskampagner og andre konkrete aktiviteter, der støtter vores sag."
      text2="Vi arrangerer løbende forskellige events og initiativer, hvor du kan være med – fra gadeaktioner og opslag til informative møder og sociale events med fokus på aktiv deltagelse. Uanset om du har lidt eller meget tid, er der mange måder at bidrage på."
      text3="Tjek vores kommende aktiviteter, og find ud af, hvordan du kan tage del i kampen for rettigheder og forandring."
      linktext="Engager dig"
      href="/engagerdig"
    >
      <div slot="media" class="mx-auto">
        <script
          src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.8.11/dist/dotlottie-wc.js"
          type="module"></script>
        <dotlottie-wc
          src="https://lottie.host/8bce6f22-cd07-4dbf-8bde-5ebcb4210ff1/0hkPtSaS5K.lottie"
          class="w-full max-w-full h-auto"
          autoplay
          loop></dotlottie-wc>
      </div>
    </InformationBox>

    <!-- Personlige historier sektion -->
    <section
      class="my-[var(--margin-v-sektioner-xsmall)]
       px-[var(--margin-h-sektioner-small)]
       md:my-[var(--margin-v-sektioner-large)]
       md:px-[var(--margin-h-sektioner-large)]"
    >
      <div class="mb-[var(--margin-v-sektioner-xsmall)] text-center">
        <Heading htmlheading="h2" size="medium" weight="heavy" color="body">
          Hver beslutning har sin historie
        </Heading>
      </div>

      <!-- Øverst til venstre -->
      <div class="lg:grid grid-cols-2 grid-rows-2">
        <div class="col-start-1 row-start-1 mb-20 md:mb-10">
          <Quote
            title="Jeg havde handlet ud fra omsorg"
            body="Jeg var 24, da jeg valgte abort. Efter indgrebet føltes stilheden tung, og jeg tvivlede på mig selv. Da min veninde kom forbi og bare sad hos mig, forsvandt noget af ensomheden. Beslutningen var stadig tung, men jeg begyndte at se, at jeg havde handlet ud fra omsorg; både for mig selv og det liv, jeg endnu ikke var klar til at tage ansvar for."
            author="Caroline, 24 år"
          />
        </div>
        <!-- Nederst til højre -->
        <div class="col-start-2 row-start-2">
          <Quote
            title="En beslutning jeg voksede af"
            body="Jeg blev gravid midt i et forhold, der var ved at gå i stykker, og vi besluttede sammen, at en abort var det rigtige. Det var en følelsesmæssigt svær tid, men efter nogle ugers refleksion mærkede jeg ro. Oplevelsen lærte mig, at jeg kan træffe svære valg og stå stærkere bagefter."
            author="Sofia, 19 år"
          />
        </div>
      </div>
    </section>

    <!-- Timeline sektion -->
    <section
      class="my-[var(--margin-v-sektioner-xsmall)]
       px-[var(--margin-h-sektioner-small)]
       md:my-[var(--margin-v-sektioner-large)]
       md:px-[var(--margin-h-sektioner-large)]"
    >
      <div
        class="mx-auto my-[var(--margin-v-sektioner-xsmall)]
       px-[var(--margin-h-sektioner-small)] md:px-[var(--margin-h-sektioner-large)]"
      >
        <Heading htmlheading="h2" size="medium" weight="heavy" color="body">
          Årstal vi sammen skal være <span class="text-secondary">stolte</span> over
        </Heading>
      </div>

      <div class="carousel overflow-x-auto">
        <ul class="timeline timeline-horizontal">
          <!-- box 1 - Irland 2018 -->
          <li>
            <hr class="bg-accent" />
            <div class="timeline-start ml-10 md:ml-20">
              <div
                class="timeline-box bg-base-300 flex flex-row max-w-60 md:max-w-xs gap-5 items-center"
              >
                <img
                  src="/img/Timeline/IrishGirl.webp"
                  alt="Irland flag"
                  class="w-20 h-20 md:w-30 md:h-30 object-cover"
                />
                <Text teksttype="body" weight="regular">
                  Ophævelse af tidligere forbud mod abort i Irland
                </Text>
              </div>
              <div class="flex justify-end">
                <Text teksttype="subtitle" weight="bold" color="label"
                  >24. Marts 2020</Text
                >
              </div>
              <div class="flex justify-center w-full">
                <div class="w-1 h-15 bg-accent rounded-full"></div>
              </div>
            </div>
            <hr class="bg-accent" />
          </li>

          <!-- box 2 - New Zealand 2020 -->
          <li>
            <hr class="bg-accent" />
            <div class="timeline-end">
              <div class="flex justify-center w-full">
                <div class="w-1 h-15 bg-accent rounded-full mb-5"></div>
              </div>
              <div
                class="timeline-box bg-base-300 flex flex-row max-w-60 md:max-w-xs gap-5 items-center"
              >
                <img
                  src="/img/Timeline/NewZeland Parlamentarium.webp"
                  alt="New Zealand flag"
                  class="w-20 h-20 md:w-30 md:h-30 object-cover"
                />
                <Text teksttype="body" weight="regular">
                  Afkriminalisering af abort i New Zealand
                </Text>
              </div>
              <div class="flex justify-end">
                <Text teksttype="subtitle" weight="bold" color="label"
                  >24. Marts 2020</Text
                >
              </div>
            </div>
            <hr class="bg-accent" />
          </li>

          <!-- box 3 - Finland 2023 -->
          <li>
            <hr class="bg-accent" />
            <div class="timeline-start">
              <div
                class="timeline-box bg-base-300 flex flex-row max-w-60 md:max-w-xs gap-5 items-center"
              >
                <img
                  src="/img/Timeline/Doctor.webp"
                  alt="Finland flag"
                  class="w-20 h-20 md:w-30 md:h-30 object-cover"
                />
                <Text teksttype="body" weight="regular">
                  Kvinder i Finland kan få abort uden begrundelse op til 12. uge
                </Text>
              </div>
              <div class="flex justify-end">
                <Text teksttype="subtitle" weight="bold" color="label"
                  >1. September 2023</Text
                >
              </div>
              <div class="flex justify-center w-full">
                <div class="w-1 h-15 bg-accent rounded-full"></div>
              </div>
            </div>
            <hr class="bg-accent" />
          </li>

          <!-- box 4 - Australien 2023 -->
          <li>
            <hr class="bg-accent" />
            <div class="timeline-end">
              <div class="flex justify-center w-full">
                <div class="w-1 h-15 bg-accent rounded-full mb-5"></div>
              </div>
              <div
                class="timeline-box bg-base-300 flex flex-row max-w-60 md:max-w-xs gap-5 items-center"
              >
                <img
                  src="/img/Timeline/AustraliaFlag.webp"
                  alt="Australien flag"
                  class="w-20 h-20 md:w-30 md:h-30 object-cover"
                />
                <Text teksttype="body" weight="regular">
                  Western Australia vedtager "Abortion Legislation Reform Act"
                </Text>
              </div>
              <div class="flex justify-end">
                <Text teksttype="subtitle" weight="bold" color="label"
                  >27. September 2023</Text
                >
              </div>
            </div>
            <hr class="bg-accent" />
          </li>

          <!-- box 5 - Danmark 2024 -->
          <li>
            <hr class="bg-accent" />
            <div class="timeline-start">
              <div
                class="timeline-box bg-base-300 flex flex-row max-w-60 md:max-w-xs gap-5 items-center"
              >
                <img
                  src="/img/Timeline/Stethoscope.webp"
                  alt="Danmark flag"
                  class="w-20 h-20 md:w-30 md:h-30 object-cover"
                />
                <Text teksttype="body" weight="regular">
                  Abortgrænsen i Danmark hæves fra 12. til 18. uge
                </Text>
              </div>
              <div class="flex justify-end">
                <Text teksttype="subtitle" weight="bold" color="label"
                  >3. Maj 2024</Text
                >
              </div>
              <div class="flex justify-center w-full">
                <div class="w-1 h-15 bg-accent rounded-full"></div>
              </div>
            </div>
            <hr class="bg-accent" />
          </li>

          <!-- box 6 - Norge 2025 -->
          <li>
            <hr class="bg-accent" />
            <div class="timeline-end">
              <div class="flex justify-center w-full">
                <div class="w-1 h-15 bg-accent rounded-full mb-5"></div>
              </div>
              <div
                class="timeline-box bg-base-300 flex flex-row max-w-60 md:max-w-xs gap-5 items-center"
              >
                <img
                  src="/img/Timeline/NorwayNature.webp"
                  alt="Norge flag"
                  class="w-20 h-20 md:w-30 md:h-30 object-cover"
                />
                <Text teksttype="body" weight="regular">
                  Abortgrænsen i Norge hæves fra 12. til 18. uge
                </Text>
              </div>
              <div class="flex justify-end">
                <Text teksttype="subtitle" weight="bold" color="label"
                  >1. Juni 2025</Text
                >
              </div>
            </div>
            <hr class="bg-accent" />
          </li>

          <!-- box 7 - Færøerne 2025 -->
          <li>
            <hr class="bg-accent" />
            <div class="timeline-start">
              <div
                class="timeline-box bg-base-300 flex flex-row max-w-60 md:max-w-xs gap-5 items-center"
              >
                <img
                  src="/img/Timeline/FaroeFlag.webp"
                  alt="Færøerne flag"
                  class="w-20 h-20 md:w-30 md:h-30 object-cover"
                />
                <Text texttype="body" weight="regular">
                  Fri abort vedtaget på Færøerne
                </Text>
              </div>
              <div class="flex justify-end">
                <Text teksttype="subtitle" weight="bold" color="label"
                  >4. December 2025</Text
                >
              </div>
              <div class="flex justify-center w-full">
                <div class="w-1 h-15 bg-accent rounded-full"></div>
              </div>
            </div>
            <hr class="bg-accent" />
          </li>

          <!-- Se fremtidige events knap -->
          <li>
            <hr class="bg-accent" />
            <div class="timeline-end">
              <div class="mt-5 mr-10">
                <Link href="/engagerdig" variant="linkbutton">
                  Se fremtidige events
                </Link>
              </div>
            </div>
            <hr class="bg-accent" />
          </li>
        </ul>
      </div>
    </section>

    <section
      class="my-[var(--margin-v-sektioner-xsmall)]
       md:my-[var(--margin-v-sektioner-large)]"
    >
      <Merchcardslider />
    </section>
  </main>
</MainLayout>
