---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import LogoInformationBox from "../components/LogoInformationBox.astro";
---

<MainLayout title="Abortkampen.dk - Forside">
  <main class="container mx-auto p-4">
    <Heading htmlheading="h1">Lav noget flot!</Heading>
    <script
      src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.8.11/dist/dotlottie-wc.js"
      type="module"></script>
    <dotlottie-wc
      src="https://lottie.host/20e04a39-c123-4c23-9f46-46039b82ec26/u2j3m17Efj.lottie"
      style="width: 300px;height: 300px"
      autoplay
      loop></dotlottie-wc>

    <LogoInformationBox
      title="Det arbejder Sex & Samfund for "
      text1="I Danmark har vi haft ret til sikker og lovlig abort siden 1973. Men det er ikke en ret, vi kan tage for givet. Udviklingen i lande som Polen og USA viser, at retten til sikker og lovlig abort er en ret, der skal værnes om. Selv i Danmark er der modstand mod kvinders ret til selv at vælge, om de vil have en abort eller ej."
      text2="Vi arbejder for alle piger og kvinders ret til at få en abort. I Danmark tilbyder vi gratis rådgivning, og internationalt kæmper vi sammen med lokale aktivister og organisationer."
      text3="Ingen skal bestemme, hvorvidt du, din søster eller veninde skal have et barn eller ej! Derfor kæmper vi i Sex & Samfund for retten til fri og sikker abort for alle. Forbud mod aborter fører ikke til færre aborter, men til farligere aborter!"
    />
  </main></MainLayout
>
