---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Link from "../components/Link.astro";
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
---

<MainLayout title="Abortkampen.dk - Komponentbibliotek">
  <main class="container mx-auto p-4">
    <Heading htmlheading="h1" size="large">Komponentbibliotek</Heading>
    <Text stylingclasses="italic"
      >Her kan du finde alle de komponenter, der er brugt i dette projekt.</Text
    >
    <hr class="my-4" />
    <!-- start p책 typografi -->
    <section class="my-15">
      <Heading htmlheading="h2" size="medium">Typografi & overskrifter</Heading>
      <Text
        >Her kan du finde alle de komponenter, der er brugt i dette projekt.</Text
      >
      <div class="my-10">
        <div class="my-5">
          <Heading htmlheading="h3" size="small" weight="heavy"
            >Overskrifter med forskellige weights:</Heading
          >
        </div>
        <div class="my-10">
          <Heading htmlheading="h1" size="large" weight="heavy"
            >h1 - Large - Heavy</Heading
          >
          <Heading htmlheading="h1" size="large" weight="bold"
            >h1 - Large - Bold</Heading
          >
        </div>

        <div class="my-10">
          <Heading htmlheading="h2" size="medium" weight="heavy"
            >h2 - Medium - Heavy</Heading
          >
          <Heading htmlheading="h2" size="medium" weight="bold"
            >h2 - Medium - Bold</Heading
          >
        </div>

        <div class="my-10">
          <Heading htmlheading="h3" size="small" weight="heavy"
            >h3 - Small - Heavy</Heading
          >
          <Heading htmlheading="h3" size="small" weight="bold"
            >h3 - Small - Bold</Heading
          >
        </div>
        <div class="my-10">
          <Heading htmlheading="h4" size="xsmall" weight="heavy"
            >h4 - Xsmall - Heavy</Heading
          >
          <Heading htmlheading="h4" size="xsmall" weight="bold"
            >h4 - Xsmall - Bold</Heading
          >
        </div>
      </div>
    </section>

    <section>
      <div class="my-8">
        <div class="my-5">
          <Heading htmlheading="h3" size="small" weight="bold"
            >Text komponenter - alle teksttyper:</Heading
          >
        </div>
        <div class="my-10">
          <Text teksttype="headline" weight="regular"
            >Headline - Regular: Lorem ipsum dolor sit amet consectetur.</Text
          >
          <Text teksttype="headline" weight="bold"
            >Headline - Bold: Lorem ipsum dolor sit amet consectetur.</Text
          >
          <Text teksttype="headline" weight="light"
            >Headline - Light: Lorem ipsum dolor sit amet consectetur.</Text
          >
        </div>

        <div class="my-10">
          <Text teksttype="body" weight="regular"
            >Body - Regular: Lorem ipsum dolor sit amet consectetur adipisicing
            elit.</Text
          >
          <Text teksttype="body" weight="bold"
            >Body - Bold: Lorem ipsum dolor sit amet consectetur adipisicing
            elit.
          </Text>
          <Text teksttype="body" weight="light"
            >Body - Light: Lorem ipsum dolor sit amet consectetur adipisicing
            elit.
          </Text>
        </div>

        <div class="my-10">
          <Text teksttype="subtitle" weight="regular"
            >Subtitle - Regular: Lorem ipsum dolor sit amet consectetur
            adipisicing elit.</Text
          >
          <Text teksttype="subtitle" weight="bold"
            >Subtitle - Bold: Lorem ipsum dolor sit amet consectetur adipisicing
            elit.</Text
          >
          <Text teksttype="subtitle" weight="light"
            >Subtitle - Light: Lorem ipsum dolor sit amet consectetur
            adipisicing elit.</Text
          >
        </div>

        <div class="my-10">
          <Text teksttype="caption" weight="regular"
            >Caption - Regular: Lorem ipsum dolor sit amet consectetur.</Text
          >
          <Text teksttype="caption" weight="bold"
            >Caption - Bold: Lorem ipsum dolor sit amet consectetur.</Text
          >
          <Text teksttype="caption" weight="light"
            >Caption - Light: Lorem ipsum dolor sit amet consectetur.</Text
          >
        </div>

        <div class="my-10">
          <Text teksttype="footnote" weight="regular"
            >Footnote - Regular: Lorem ipsum dolor sit amet.</Text
          >
          <Text teksttype="footnote" weight="bold"
            >Footnote - Bold: Lorem ipsum dolor sit amet.</Text
          >
          <Text teksttype="footnote" weight="light"
            >Footnote - Light: Lorem ipsum dolor sit amet.</Text
          >
        </div>
      </div>
    </section>

    <hr class="my-8 border-[var(--color-primary-content)]" />

    <!-- Text komponenter med alle teksttyper -->

    <section class="my-15">
      <div class="grid grid-cols-1 md:grid-cols-4 gap-6 mt-3">
        <div>
          <Text weight="bold">Primary</Text>
          <div class="flex flex-col gap-2 mt-2">
            <Text
              >xs: <button class="btn btn-primary btn-xs ml-2">P-xs</button
              ></Text
            >
            <Text
              >sm: <button class="btn btn-primary btn-sm ml-2">P-sm</button
              ></Text
            >
            <Text>md: <button class="btn btn-primary ml-2">P-md</button></Text>
            <Text
              >lg: <button class="btn btn-primary btn-lg ml-2">P-lg</button
              ></Text
            >
            <Text
              >xl: <button class="btn btn-primary btn-xl ml-2">P-xl</button
              ></Text
            >
          </div>
        </div>

        <div>
          <Text weight="bold">Secondary</Text>
          <div class="flex flex-col gap-2 mt-2">
            <Text
              >xs: <button class="btn btn-secondary btn-xs ml-2">S-xs</button
              ></Text
            >
            <Text
              >sm: <button class="btn btn-secondary btn-sm ml-2">S-sm</button
              ></Text
            >
            <Text>md: <button class="btn btn-secondary ml-2">S-md</button></Text
            >
            <Text
              >lg: <button class="btn btn-secondary btn-lg ml-2">S-lg</button
              ></Text
            >
            <Text
              >xl: <button class="btn btn-secondary btn-xl ml-2">S-xl</button
              ></Text
            >
          </div>
        </div>

        <div>
          <Text weight="bold">Accent</Text>
          <div class="flex flex-col gap-2 mt-2">
            <Text
              >xs: <button class="btn btn-accent btn-xs ml-2">A-xs</button
              ></Text
            >
            <Text
              >sm: <button class="btn btn-accent btn-sm ml-2">A-sm</button
              ></Text
            >
            <Text>md: <button class="btn btn-accent ml-2">A-md</button></Text>
            <Text
              >lg: <button class="btn btn-accent btn-lg ml-2">A-lg</button
              ></Text
            >
            <Text
              >xl: <button class="btn btn-accent btn-xl ml-2">A-xl</button
              ></Text
            >
          </div>
        </div>

        <div>
          <Text weight="bold">Neutral</Text>
          <div class="flex flex-col gap-2 mt-2">
            <Text
              >xs: <button class="btn btn-neutral btn-xs ml-2">N-xs</button
              ></Text
            >
            <Text
              >sm: <button class="btn btn-neutral btn-sm ml-2">N-sm</button
              ></Text
            >
            <Text>md: <button class="btn btn-neutral ml-2">N-md</button></Text>
            <Text
              >lg: <button class="btn btn-neutral btn-lg ml-2">N-lg</button
              ></Text
            >
            <Text
              >xl: <button class="btn btn-neutral btn-xl ml-2">N-xl</button
              ></Text
            >
          </div>
        </div>
      </div>
    </section>
    <!-- slut p책 typografi -->

    <hr class="my-15" />

    <!-- Link komponent instanser -->
    <section>
      <Heading htmlheading="h2" size="medium">Links</Heading>

      <div class="my-10">
        <Heading htmlheading="h3" size="small" weight="bold">Textlink</Heading>
        <Text teksttype="body">
          Default linket er en del af en tekst, og burde gerne fungere som et <Link
            href="#">textlink her</Link
          > i en paragraf.
        </Text>
      </div>

      <div class="my-10 bg-primary-content">
        <Heading htmlheading="h3" size="small" weight="bold" color="negative"
          >Footerlink</Heading
        >
        <div class="flex gap-6">
          <Link href="#" variant="footerlink">Om os</Link>
          <Link href="#" variant="footerlink">Handelsbetingelser</Link>
          <Link href="#" variant="footerlink">Persondata og cookiepolitik</Link>
        </div>
      </div>

      <div class="my-10">
        <Heading htmlheading="h3" size="small" weight="bold">Link Knap</Heading>
        <Text teksttype="body" stylingclasses="mb-6"
          >Responsive padding (mobile/sm/md):</Text
        >
        <div class="flex flex-wrap gap-4">
          <Link href="#" variant="linkbutton">Link Knap</Link>
        </div>
      </div>
    </section>
    <!-- Slut p책 Link komponent instanser -->

    <hr class="my-15" />
    <!-- Buttons komponent instanser -->
    <section>
      <Heading htmlheading="h2" size="medium">Knapper</Heading>
      <Button>Default knap</Button>
      <Button variant="secondary">Default knap</Button>
    </section>
    <!-- Slut p책 Buttons komponent instanser -->
  </main>
</MainLayout>
