---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import Merchcardslider from "../components/merchcardslider.astro";
---

<MainLayout title="Abortkampen.dk - Støt os">
  <main>
    <section class="relative w-full bg-base-100 max-[1300px]:bg-secondary max-[1300px]:min-h-[500px]">
      <img src="/img/HeroStot.webp" alt="lyserød trekant med skilt" class="w-350 h-auto object-cover min-[1299px]:block max-[1300px]:hidden" />
      <div class="absolute top-40 left-0 p-4">
        <div class="flex items-center gap-4">
          <Heading htmlheading="h1" size="large" weight="heavy" color="negative">
            Støt i dag og gør<br />en forskel
          </Heading>
        </div>
      </div>
    </section>

    <!-- ---- Flex container for formular og hvad din støtte gør muligt på desktop ---- -->
    <div class="flex flex-col lg:flex-row lg:justify-between lg:items-start md:p-[var(--padding-xlarge)] p-[var(--padding-small)]">
      <!-- Container for formular øverst -->
      <section class="md:mx-auto min-[1300px]:-mt-160 max-[1300px]:-mt-60 max-[1230px]:-mt-40 relative z-10 order-1 lg:order-2 p-[var(--padding-small)]">
        <!-- lang støt formular -->
        <div
          class="border-secondary border-[3px] rounded-xl w-full md:w-[550px] md:px-[var(--padding-xlarge)] px-[var(--padding-small)] bg-base-100 shadow-lg intersect:animate-fade-left intersect:animate-duration-[1000ms] intersect:animate-delay-[500ms]"
        >
          <Text teksttype="caption" weight="heavyavenir" color="body" stylingclasses="text-center pt-[var(--padding-large)]">STØT NU</Text>
          <Text teksttype="body" weight="regular" color="body" stylingclasses="text-center py-[var(--gap-v)]">Med din støtte giver du kvinder mulighed for at få foretaget en sikker abort</Text>
          <div class="md:px-[var(--padding-2xlarge)] px-[var(--padding-small)] md:py-[var(--padding-xlarge)] py-[var(--padding-small)]">
            <div class="grid grid-row-3 gap-[var(--gap-v)]">
              <!-- knapper til beløb -->
              <div class="grid grid-cols-2 gap-[var(--gap-h-small)]">
                <Button variant="secondary">Månedligt</Button>
                <Button variant="secondary">Èn gang</Button>
              </div>
              <div class="grid grid-cols-3 gap-[var(--gap-h-small)]">
                <Button variant="secondary">50 kr.</Button>
                <Button variant="secondary">100 kr.</Button>
                <Button variant="secondary">250 kr.</Button>
              </div>
              <input type="text" placeholder="Andet beløb" class="input input-secondary w-full" />
            </div>
            <!-- betalingsform -->
            <div class="mt-10 gap-4">
              <div class="flex flex-row gap-4 mt-4">
                <input type="checkbox" class="checkbox checkbox-secondary" />
                <Text teksttype="body" weight="regular" color="body">Betalingskort</Text>
              </div>
              <div class="flex flex-row gap-4 mt-4">
                <input type="checkbox" class="checkbox checkbox-secondary" />
                <Text teksttype="body" weight="regular" color="body">Betalingsservice</Text>
              </div>
              <div class="flex flex-row gap-4 mt-4">
                <input type="checkbox" class="checkbox checkbox-secondary" />
                <Text teksttype="body" weight="regular" color="body">Mobilepay</Text>
              </div>
            </div>
            <!-- skat og cpr -->
            <div class="mt-10 mx-auto">
              <div class="flex flex-row gap-4 mt-4">
                <input type="checkbox" class="checkbox checkbox-secondary" />
                <Text teksttype="body" weight="regular" color="body">Ønsker du skattefradrag</Text>
              </div>
              <input type="text" placeholder="CPR - nummer" class="input input-secondary mt-4 w-full" />
            </div>
            <!-- personlige oplysninger -->
            <div class="mb-10">
              <div class="flex flex-row gap-4 mt-4">
                <input type="text" placeholder="Fornavn*" class="input input-secondary" />
                <input type="text" placeholder="Efternavn*" class="input input-secondary" />
              </div>
              <input type="email" placeholder="Email*" class="input input-secondary w-full mt-4" />
              <input type="tel" placeholder="Telefonnummer*" class="input input-secondary w-full mt-4" />
            </div>
            <div class="text-center">
              <Button variant="primary" size="wide"> STØT</Button>
            </div>
          </div>
        </div>
      </section>

      <!-- ---------------- hvad din støtte gør muligt ---------------- -->
      <section class="w-full md:w-auto mt-8 lg:mt-16 order-2 md:order-1">
        <Heading htmlheading="h4" size="xsmall" weight="bold" color="body">Hvad din støtte gør muligt</Heading>
        <div class="flex items-center gap-4 mt-4 intersect:animate-fade-right intersect:animate-duration-[1000ms] intersect:animate-delay-[200ms]">
          <!-- Lille vertikal streg i primary color med rundede ender -->
          <div class="w-4 h-12 bg-primary rounded-full mt-4"></div>
          <Text teksttype="headline" weight="bold" color="body">Sikre abori Uganda, Kenya, Etiopien, Marokko og Tunesien</Text>
        </div>
        <div class="flex items-center gap-4 mt-4 intersect:animate-fade-right intersect:animate-duration-[1000ms] intersect:animate-delay-[600ms]">
          <!-- Lille vertikal streg i primary color med rundede ender -->
          <div class="w-4 h-12 bg-primary rounded-full mt-4"></div>
          <Text teksttype="headline" weight="bold" color="body">Oplysning og rådgivning om rettigheder og sundhed</Text>
        </div>
        <div class="flex items-center gap-4 mt-4 intersect:animate-fade-right intersect:animate-duration-[1000ms] intersect:animate-delay-[1000ms]">
          <!-- Lille vertikal streg i primary color med rundede ender -->
          <div class="w-4 h-12 bg-primary rounded-full mt-4"></div>
          <Text teksttype="headline" weight="bold" color="body">Politisk pres for at ændre stramme abortlove</Text>
        </div>
        <div class="flex items-center gap-4 mt-4 intersect:animate-fade-right intersect:animate-duration-[1000ms] intersect:animate-delay-[1400ms]">
          <!-- Lille vertikal streg i primary color med rundede ender -->
          <div class="w-4 h-12 bg-primary rounded-full mt-4"></div>
          <Text teksttype="headline" weight="bold" color="body">Seksualundervisning og adgang til prævention</Text>
        </div>
      </section>
    </div>

    <!-- ---------------- støt kampen for alle sektion ---------------- -->

    <section class="grid grid-cols-1 md:grid-cols-2 md:px-20 mt-16 gap-6 lg:ml-20 px-4 mx-auto">
      <div>
        <Heading htmlheading="h2" size="medium" weight="heavy" color="body">Støt kampen for fri abort<br /> til <span class="text-secondary">alle</span></Heading>
        <Text teksttype="" weight="regular" color="body"
          >Din støtte er afgørende for at værne om retten til at bestemme over egen krop. Det er en menneskerettighed, som alt for mange ikke får opfyldt.</Text
        >
      </div>
      <div class="md:-mb-14 z-10 relative md:ml-30 mx-auto">
        <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.8.11/dist/dotlottie-wc.js" type="module"></script>
        <dotlottie-wc src="https://lottie.host/20e04a39-c123-4c23-9f46-46039b82ec26/u2j3m17Efj.lottie" style="width: 300px;height: 300px" autoplay loop></dotlottie-wc>
      </div>
    </section>

    <!-- ---------------- kvinder dør sektion ---------------- -->
    <section
      class="relative bg-base-200 p-[var(--spacing-horizontal-2xl)] items-center my-9 max-[1150px]:mx-[var(--margin-h-sektioner-small)] lg:mx-[var(--margin-h-sektioner-xlarge)]"
    >
      <!-- vertikal streg i secondary color med rundede ender - flyttet til venstre -->
      <div class="lg:w-6 w-4 h-80 bg-secondary rounded-full absolute -left-2 top-1/2 transform -translate-y-1/2"></div>

      <div class="text-center">
        <Heading htmlheading="h2" size="medium" weight="heavy" color="body">23.000 kvinder <span class="text-secondary">dør</span> hvert år</Heading>
      </div>

      <div class="grid lg:grid-cols-2 lg:px-20 mt-8 items-center">
        <img src="/img/Illustrations/tools.webp" alt="tegninger af værktøjer til farlige aborter" class="h-60 mx-auto" />
        <Text teksttype="body" weight="regular" color="body" stylingclasses="px-[var(--spacing-horizontal-xl)]"
          >Vi er ikke i mål med kampen endnu, og hvert år dør 23.000 kvinder i forsøget på at få en abort. De har ikke adgang til faciliterede steder, så derfor bruger de farlige metoder, i forsøget
          på at vide deres egen krop tilbage. Ved at støtte vores kamp, giver du kvinderne mulighed for at få foretaget sikre aborter, så vi sammen kan mindske det tal, der lige nu er alt for højt
        </Text>
      </div>
    </section>

    <!-- ---------------- inforgrafik sektion ---------------- -->

    <section class="md:flex items-center justify-center px-20 mt-16 lg:gap-15 gap-4 lg:mb-[var(--margin-v-sektioner-large)] mb-[var(--margin-v-sektioner-small)]">
      <div class="text-center">
        <Heading htmlheading="h4" size="medium" weight="bold" color="body" stylingclasses="intersect:animate-fade-down intersect:animate-duration-[1000ms] intersect:animate-delay-[200ms]">200</Heading
        >
        <Text teksttype="headline" weight="regular" color="body">Har allerede støttet i dag</Text>
      </div>

      <!-- Vertikal streg som deler -->
      <div class="w-3 lg:h-25 h-40 bg-secondary rounded-full md:rotate-0 rotate-90 mx-auto"></div>

      <div class="text-center">
        <Heading htmlheading="h4" size="medium" weight="bold" color="body" stylingclasses="intersect:animate-fade-down intersect:animate-duration-[1000ms] intersect:animate-delay-[500ms]"
          >1000</Heading
        >
        <Text teksttype="headline" weight="regular" color="body">Har fået hjælp til sikker abort</Text>
      </div>

      <!-- Vertikal streg som deler -->
      <div class="w-3 lg:h-25 h-40 bg-secondary rounded-full md:rotate-0 rotate-90 mx-auto"></div>

      <div class="text-center">
        <Heading htmlheading="h4" size="medium" weight="bold" color="body" stylingclasses="intersect:animate-fade-down intersect:animate-duration-[1000ms] intersect:animate-delay-[800ms]">150</Heading
        >
        <Text teksttype="headline" weight="regular" color="body">Har deltaget i events med os</Text>
      </div>
    </section>

    <!-- ---------------- engager dig sektion ---------------- -->

    <section class="px-20 md:w-200 mx-auto lg:mb-[var(--margin-v-sektioner-large)] mb-[var(--margin-v-sektioner-small)]">
      <Heading htmlheading="h2" size="medium" weight="heavy" color="body" stylingclasses="mb-[var(--spacing-vertical-l)]">Engager dig i kampen</Heading>

      <Text teksttype="body" weight="regular" color="body" stylingclasses="mb-[var(--spacing-vertical-xl)]"
        >Forandring sker ikke af sig selv. Den skabes, når mennesker som dig står sammen, møder op og viser, at retten til fri og sikker abort betyder noget. Ved at engagere dig i vores
        demonstrationer, infomøder og oplysningskampagner bliver du en del af den bevægelse, der kæmper for, at alle skal have ret til at bestemme over egen krop. <br /><br /> Bliv en del af fællesskabet
        og tilmeld dig vores fremtidige events</Text
      >
      <Link variant="linkbutton" href="/engagerdig" buttoncolor="secondary" color="body">Se fremtidige events </Link>
    </section>
    <!-- ---------------- merch sektion ---------------- -->
    <section>
      <Merchcardslider />
    </section>
  </main></MainLayout
>
