---
import Text from "./Text.astro";
// Henter parametrene fra Astro.props
const { variant = "primary" } = Astro.props;

//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter
const variantClasses = {
  primary: "btn btn-primary",
  secondary: "btn btn-secondary btn-outline",
};
---

<!--Sæt classes for den pågældende knap sammen ved hjælp af Astros class:list -->
<button class:list={[variantClasses[variant]]}>
  <Text teksttype="body"> <slot /> </Text>
</button>
