---
import Text from "./Text.astro";
import Link from "./Link.astro";
import Heading from "./Heading.astro";
---

<section
  class="bg-accent sm:flex justify-around items-center py-[var(--margin-v-sektioner-small)] px-[var(--margin-h-sektioner-small)] md:px-[var(--margin-h-sektioner-large)]"
  x-data="{ subscribed: false }"
>
  <div>
    <Heading htmlheading="h3" size="small">Modtag vores nyhedsbrev</Heading>
    <Text teksttype="body">
      Få nyheder om alle vores fremtidige events og arrangementer
    </Text>
  </div>

  <fieldset class="fieldset" x-show="!subscribed">
    <div class="join border border-secondary rounded-none">
      <input
        type="email"
        placeholder="Email adresse"
        class="input join-item border-0 rounded-none"
        required
        x-model="email"
      />
      <button
        type="submit"
        class="btn join-item bg-secondary text-neutral-content border-0 rounded-none"
        @click.prevent="subscribed = true"
      >
        TILMELD
      </button>
    </div>
  </fieldset>

  <div x-show="subscribed">
    <Text teksttype="body" weight="bold">
      Du er nu tilmeldt nyhedsbrevet!
    </Text>
  </div>
</section>

<footer
  class="footer lg:footer-horizontal bg-primary-content text-neutral-content px-[var(--margin-h-sektioner-small)] py-[var(--margin-v-sektioner-small)] md:px-[var(--margin-h-sektioner-large)] md:py-[var(--margin-v-sektioner-large)]"
>
  <aside class="max-w-20">
    <img src="/img/Logo/LogoWhite.webp" alt="Sex og samfund logo" />
  </aside>

  <nav class="lg:ml-50 space-y-[var(--spacing-vertical)]">
    <Text teksttype="headline" color="negative" weight="bold">
      Kontakt os
    </Text>
    <Link href="tel:+4533931010" variant="footerlink" size="small">
      <img src="/img/Icons/Phone.webp" alt="Telefon" class="w-8 h-8" />
      <Text teksttype="body" color="negative" weight="regular">
        Tlf. 33 93 10 10
      </Text>
    </Link>

    <Link variant="footerlink" size="small">
      <img src="/img/Icons/Mappin.webp" alt="Telefon" class="w-8 h-8" />
      <Text teksttype="body" color="negative" weight="regular">
        Lergravsvej 63, 2. sal <br /> 2300 København S
      </Text>
    </Link>

    <Link href="mailto:info@sexogsamfund.dk" variant="footerlink" size="small">
      <img src="/img/Icons/Mail.webp" alt="Telefon" class="w-8 h-8" />
      <Text teksttype="body" color="negative" weight="regular">
        info@sexogsamfund.dk
      </Text>
    </Link>
  </nav>

  <section class="space-y-[var(--spacing-vertical)] max-w-70">
    <Text teksttype="headline" color="negative" weight="bold">
      ÅBNINGSTIDER
    </Text>

    <div class="space-y-[var(--spacing-vertical)]">
      <Text teksttype="body" color="negative" weight="regular">
        Sekretariat:
      </Text>
      <Text teksttype="body" color="negative" weight="regular">
        Mandag - torsdag 09.00 - 16.00 (telefontid 9:00 - 16:00)
      </Text>
      <Text teksttype="body" color="negative" weight="regular">
        Fredag 09.00-15.00 <br /> (telefontid 9:00 - 12:00)
      </Text>
    </div>

    <div class="space-y-[var(--spacing-vertical)]">
      <Text teksttype="body" color="negative" weight="regular">
        Præventions- og rådgivningsklinik:
      </Text>
      <Text teksttype="body" color="negative" weight="regular">
        Mandag, tirsdag og torsdag mellem kl. 15.45 - 16.45
      </Text>
    </div>
  </section>

  <nav class="space-y-[var(--spacing-vertical)]">
    <Text teksttype="headline" color="negative" weight="bold"> Genveje </Text>

    <Link href="/engagerdig" variant="footerlink" size="small"
      >Nyheder / Events</Link
    >

    <Link href="/omos" variant="footerlink" size="small">Om os</Link>

    <Link variant="footerlink" size="small">Ledige stillinger</Link>

    <Link variant="footerlink" size="small">Persondata og cookiepolitik</Link>

    <Link variant="footerlink" size="small">Handelsbetingelser</Link>

    <Link href="/komponentbibliotek" variant="footerlink" size="small">
      Komponentbibliotek</Link
    >
  </nav>
</footer>
