---
import Button from "../components/Button.astro";
import Text from "../components/Text.astro";
import Link from "../components/Link.astro";
---

<!-- ------------ Mobil version (høj) ------------ -->
<section
  class="md:hidden mx-auto p-[var(--padding-small)] lg:p-[var(--padding-large)] my-[var(--margin-v-sektioner-small)] lg:my-[var(--margin-v-sektioner-large)] border-secondary border-[3px] rounded-xl w-[350px] bg-base-100 shadow-lg z-50"
>
  <!-- lang støt formular -->
  <div class="text-center">
    <Text teksttype="caption" weight="heavyavenir" color="body">STØT NU</Text>
    <Text teksttype="bocy" weight="regular" color="body" stylingclasses="my-[var(--gap-v)]">Med din støtte giver du kvinder mulighed for at få foretaget en sikker abort</Text>
  </div>
  <div class="grid grid-row-3 gap-[var(--gap-v)] mx-[var(--gap-h-large)]">
    <!-- knapper til beløb -->
    <div class="grid grid-cols-2 gap-[var(--gap-h-small)]">
      <Button variant="secondary">Månedligt</Button>
      <Button variant="secondary">Èn gang</Button>
    </div>
    <div class="grid grid-cols-3 gap-[var(--gap-h-small)]">
      <Button variant="secondary">50 kr.</Button>
      <Button variant="secondary">100 kr.</Button>
      <Button variant="secondary">250 kr.</Button>
    </div>
    <input type="text" placeholder="Andet beløb" class="input input-secondary w-full" />
    <Button variant="primary">STØT</Button>
  </div>
</section>

<!-- ------------ Desktop version (bred) ------------ -->

<section
  class="hidden md:grid grid-cols-2 gap-[var(--gap-h-large)] mx-auto p-[var(--padding-small)] lg:p-[var(--padding-large)] my-[var(--margin-v-sektioner-small)] lg:my-[var(--margin-v-sektioner-large)] border-secondary border-[3px] rounded-xl w-[770px] bg-base-100 shadow-lg z-50"
>
  <!-- lang støt formular -->
  <div class="text-center">
    <Text teksttype="caption" weight="heavyavenir" color="body">støt nu</Text>
    <Text teksttype="bocy" weight="regular" color="body">Med din støtte giver du kvinder mulighed for at få foretaget en sikker abort</Text>
  </div>
  <div class="grid grid-row-3 gap-[var(--gap-v)]">
    <!-- knapper til beløb -->
    <div class="grid grid-cols-2 gap-[var(--gap-h-small)]">
      <Button variant="secondary">Månedligt</Button>
      <Button variant="secondary">Èn gang</Button>
    </div>
    <div class="grid grid-cols-3 gap-[var(--gap-h-small)]">
      <Button variant="secondary">50 kr.</Button>
      <Button variant="secondary">100 kr.</Button>
      <Button variant="secondary">250 kr.</Button>
    </div>
    <input type="text" placeholder="Andet beløb" class="input input-secondary w-full" />
   <Link
        variant="linkbutton"
        href="/stot"
        buttoncolor="primary"
        color="body"
      >
        STØT
      </Link>
  </div>
</section>
