---
import MerchCards from "./MerchCards.astro";
import Text from "./Text.astro";
import Heading from "./Heading.astro";
---

<section class="bg-base-200 p-[var(--padding-large)]">
  <Heading htmlheading="h2" size="medium">Din krop, Dit valg</Heading>
  <div class="carousel carousel-center max-w-full p-4 space-x-12 mx-auto">
    <div id="slide1" class="carousel-item">
      <MerchCards imageSrc="/img/Merch/PosterAbortion.webp" imageAlt="Abortkampen merchandise plakat" title="Fri abort 2025 - Plakat" pris="249,00 kr." buttonText="Læg i kurv" buttonVariant="secondary" showBadge={true} badgeText="Nyhed" />
    </div>
    <div id="slide2" class="carousel-item">
      <MerchCards imageSrc="/img/Merch/TShirtMyBodyMyChoice.webp" imageAlt="T-shirt My Body My Choice" title="My Body My Choice T-shirt" pris="299,00 kr." buttonText="Læg i kurv" buttonVariant="secondary" />
    </div>
    <div id="slide3" class="carousel-item">
      <MerchCards imageSrc="/img/Merch/PosterMyBodyMyChoice.webp" imageAlt="My Body My Choice plakat" title="My Body My Choice - Plakat" pris="249,00 kr." buttonText="Læg i kurv" buttonVariant="secondary" />
    </div>
    <div id="slide4" class="carousel-item">
      <MerchCards imageSrc="/img/Merch/StoriesAbortion.webp" imageAlt="Stories about abortion bog" title="Stories About Abortion" pris="199,00 kr." buttonText="Læg i kurv" buttonVariant="secondary" showBadge={true} badgeText="Nyhed" />
    </div>
    <div id="slide5" class="carousel-item">
      <MerchCards imageSrc="/img/Merch/PosterAbortion.webp" imageAlt="Abortkampen merchandise plakat" title="Fri abort 2025 - Plakat" pris="249,00 kr." buttonText="Læg i kurv" buttonVariant="secondary" />
    </div>
    <div id="slide6" class="carousel-item">
      <MerchCards imageSrc="/img/Merch/TShirtMyBodyMyChoice.webp" imageAlt="T-shirt My Body My Choice" title="My Body My Choice T-shirt" pris="299,00 kr." buttonText="Læg i kurv" buttonVariant="secondary" />
    </div>
  </div>
</section>
