---
import Heading from "./Heading.astro";
import Text from "./Text.astro";

const { title = "", body = "", author = "" } = Astro.props;
---

<section
  class="max-w-2xl px-[var(--margin-h-sektioner-small)] md:px-[var(--margin-h-sektioner-large)]"
>
  <!-- QUOTE -->
  <div class="float-left mr-4 mb-2 max-w-[11rem] md:max-w-sm">
    <Heading
      htmlheading="h3"
      size="small"
      weight="heavy"
      color="label"
      stylingclasses="tracking-tight leading-tight"
    >
      “{title}”
    </Heading>
  </div>

  <!-- BODY TEXT -->
  <div>
    <Text texttype="body" weight="regular" color="body">
      {body}
    </Text>
  </div>

  <!-- AUTHOR -->
  <div class="mt-4 text-right clear-both">
    <Text texttype="body" weight="bold" color="label">
      {author}
    </Text>
  </div>
</section>
