---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/tailwind.css";
const { title } = Astro.props;
---

<html lang="da" data-theme="abortkampen">
  <head>
    <meta charset="utf-8" />

    <link rel="icon" href="/img/Logo/Favicon/favicon.ico" />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
    <script defer src="https://unpkg.com/tailwindcss-intersect@2.x.x/dist/observer.min.js"></script>
  </head>
  <body class="">
    <Header />

    <slot />

    <Footer />
  </body>
</html>
